body {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  height: 100%;
  
}



.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar-dark {
  background-color: rgb(135, 21, 78);
  min-height: 8rem;
  margin: 0px;
  color: white;
  
}
